<div class="footer">
    <div class="container">
        <div class="feat_footer social_med">
            <h2>Soft Challengers</h2>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-linkedin"></i>
        </div>
        <div class="feat_footer">
            <h2>Usefull Links</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="~/About">About</a></li>
                <li><a href="~/Contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="feat_footer">
            <h2>Contact Us</h2>
            <ul>
                <li><a href="#">24 Nour El-Deen Bahgat, Al Manteqah Ath Thamenah, Nasr City, Luxor Governorate</a></li>
                <li><a href="#">comapny@softchallengers.com</a></li>
                <li><a href="#">+2-0114864573 <br /> +2-01020037189</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="copyRight"> &#64;softchallengers - Agency Company. &copy;All rights reserved <br>Powered by softchallengers</div>