<div class="navbar">
    <div class="container">
        <h2>Soft Challengers</h2>
        <ul>
            <li><a href="/">Home</a></li>
          <!--<li><a href="#">Services</a></li> -->  
            <li><a href="#">Portfolio</a></li>
            <li><a href="~/About">About</a></li>
            <li><a href="~/Contact">Contact Us</a></li>
        </ul>
        <i class="fa fa-bars minuBar"></i>
    </div>
</div>