@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_IntroHeaderLayout_1.cshtml";
    ViewBag.Message = "Company Profile With Excel Codes";
}

<div class="about">
    <div class="container">
        <h3>About Excel Codes</h3>
        <br>
        <br>
        <p>“ExcelCodes” is a leading software company that is seeking quality and performance ,we work for providing the best software service and support through delivery and more.</p>
        <a href="~/Contac">
            <div class="btnCont">
                CONTACTUS
                <a href="~/Contact">
                    <div class="btnCont_cover">
                        CONTACTUS
                    </div>
                </a>
            </div>
        </a>
    </div>
</div>
<br>

<div class="ourTeam">
    <div class="container">
        <div class="ourTeam_slidr">
            <div class="slidr_feat">
                <img src="imgs/teame/hassaan.jpg">
                <div class="name">Hassaan Nabil <br> Front End Developer</div>
            </div>
            <div class="slidr_feat">
                <img src="imgs/teame/osama.jfif">
                <div class="name">Osama Mohamed <br> Front End Developer</div>
            </div>
            <div class="slidr_feat">
                <img src="imgs/teame/najeh2.jfif">
                <div class="name">Mohamed Najeh <br> Front End Developer</div>
            </div>
            <div class="slidr_feat">
                <img src="imgs/teame/sheikh2.jfif">
                <div class="name">Ahmed Elsheikh <br> Front End Developer</div>
            </div>
            <div class="slidr_feat">
                <img src="imgs/teame/sheref.jfif">
                <div class="name">Sheref Mohamed <br> Front End Developer</div>
            </div>
            <div class="slidr_feat">
                <img src="imgs/teame/mHosni.jfif">
                <div class="name">Mohamed Hosni<br> Front End Developer</div>
            </div>
            <div class="slidr_feat">
                <img src="imgs/teame/abdstar.jfif">
                <div class="name">Abd Elsatar Ahmed<br> Front End Developer</div>
            </div>
            <div class="slidr_feat"></div>
        </div>
    </div>
</div>