@{
    ViewBag.Title = "Home Page";
}

<div class="header other">
    <div class="other_cover">
        <div class="container ">
            <div class="intro">
                <div class="introLeft">
                    <h2>We Grow Together</h2>
                    <p>We are glad to work for you delivering and supporting your software evolving with the ultimate stability and best quality.</p>
                    <button onclick="window.location.href = 'Contact';">Start Work</button>
                </div>
                <div class="introRight">
                    <img src="~/imgs/imgHead.png">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home_features1">
    <div class="container">
        <h2>Soft Challengers services</h2>

        <div class="home_features1_feats">
            <img src="~/imgs/iconfinder_computer_1055084.png">
            <div class="home_features1_feats_under_img">
                <h3>Smartphone Programming</h3>
                <p>Developing Mobile Apps was never this easy ,more affordable and with best efficiency.</p>
            </div>
        </div>
        <div class="home_features1_feats">
            <img src="~/imgs/iconfinder_computer_1055084.png">
            <div class="home_features1_feats_under_img">
                <h3>Programming Desktop</h3>
                <p>Cause whatever technology or how much we evolve Desktop Apps are still the base and we are glad to provide and develop it with optimum quality.</p>
            </div>
        </div>
        <div class="home_features1_feats">
            <img src="~/imgs/iconfinder_computer_1055084.png">
            <div class="home_features1_feats_under_img">
                <h3>Website Design & Development</h3>
                <p>As Mobility and reachability are the keys to wide-spreading and evolving with time through the feedback of all and enhancing at every step.</p>
            </div>
        </div>
        <div class="home_features1_feats">
            <img src="~/imgs/iconfinder_computer_1055084.png">
            <div class="home_features1_feats_under_img">
                <h3>Hardware Design</h3>
                <p>Cause Hardware are the base of everything around we are glad to offer our solutions working and executing with the best case.</p>
            </div>
        </div>
    </div>
</div>
<!--    Overlay    -->
<div class="home_overlay1">

    <div class="home_overlay2">
        <div class="container">
            <div class="overlay_left">
                <h1>Who we are</h1>
                <ul>
                    <li>Soft Challengers has a leading development team that seeks to provide the best solutions with the most optimum quality at a great affordable price.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="previous_experience">
    <div class="container">
        <div class="previous_left">
            <div class="previous_left_l">
                <div class="previous_left_feat">
                    <img src="~/imgs/mob2.jfif">
                    <div class="left_feat_bottom">Icenna</div>
                    <div class="left_feat_cover">
                        <p>It's a learning tool for those who don't quite understand three-dimensionality.</p>
                    </div>
                </div>
                <div class="previous_left_feat">
                    <img src="~/imgs/mob2.jfif">
                    <div class="left_feat_bottom">Icenna</div>
                    <div class="left_feat_cover">
                        <p>Clini booking system .. it has Integration with Paypal, Nexmo, google maps APIs</p>
                    </div>
                </div>
            </div>
            <div class="previous_left_r">
                <div class="previous_left_feat">
                    <img src="~/imgs/mob2.jfif">
                    <div class="left_feat_bottom">Icenna</div>
                    <div class="left_feat_cover">
                        <p>Facilitate the communication between teachers and parents</p>
                    </div>
                </div>
                <div class="previous_left_feat">
                    <img src="~/imgs/mob2.jfif">
                    <div class="left_feat_bottom">Icenna</div>
                    <div class="left_feat_cover">
                        <p>Math game device .. the software connect to the device with socket programming</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="previous_right">
            <h2>Previous experience</h2>
            <p>As we grow we have made great milestones through our way that we are so happy to share for reference.</p>
            <div class="vew_more">
                <i class="fa fa-eye"></i>
                View More

                <a href="#">
                    <div class="vew_more_cover">
                        <i class="fa fa-eye"></i>
                        View More
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="why_us">
    <div class="container">
        <div class="why_us_feat">
            <img src="~/imgs/teamwork_white_1_dribbble-01-01.png">
            <h4>Professional team</h4>
        </div>
        <div class="why_us_feat">
            <img src="~/imgs/teamwork_white_1_dribbble-01-01.png">
            <h4>Professional team</h4>
        </div>
        <div class="why_us_feat">
            <img src="~/imgs/teamwork_white_1_dribbble-01-01.png">
            <h4>Professional team</h4>
        </div>
        <div class="why_us_feat">
            <img src="~/imgs/teamwork_white_1_dribbble-01-01.png">
            <h4>Professional team</h4>
        </div>
        <div class="why_us_feat">
            <img src="~/imgs/teamwork_white_1_dribbble-01-01.png">
            <h4>Professional team</h4>
        </div>
        <div class="why_us_feat">
            <img src="~/imgs/teamwork_white_1_dribbble-01-01.png">
            <h4>Professional team</h4>
        </div>
        <div class="why_us_feat">
            <img src="~/imgs/teamwork_white_1_dribbble-01-01.png">
            <h4>Professional team</h4>
        </div>
        <div class="why_us_feat">
            <img src="~/imgs/teamwork_white_1_dribbble-01-01.png">
            <h4>Professional team</h4>
        </div>
    </div>
</div>